* {
  margin: 0px;
  padding: 0px;
}

.btnlogin {
  width: 10%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

button {
  width: 100%;
}

input {
  display: block;
  width: 100%;
  border: none;
  padding-left: 2%;
  padding-right: 2%;
  background-color: beige;

}

label {
  margin: 10px 0;
  display: inline-block;
  text-align: center;
  justify-content: center;
}

.from-control {
  background-color: rgb(153, 165, 193);
  text-align: center;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  justify-content: center;
  height: 30%;
  width: 100%;

}

.pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;

}

.imglogo {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 300px;
}